.tabs{
    height: calc(100vh - 12.8rem);
      overflow-y: auto;
    .tab{
        display:none;
        // min-height: 500px; 
        &.active{
          display: block;    
        }
     
          .heading {
            color: #FFF;
            margin:20px 30px ;
            font-weight: 400;
            font-size: 18px;
        }
        
       .contacts{
        .contact{
          margin:  10px;
        }
       } 
    }

    .NoRecordMsg{
      padding: 5px 15px;
      color: #FFF;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
}