.tabs{
    .tab{
        display:none;
        min-height: 500px; 
        &.active{
          display: block;    
        }
     
          .heading {
            color: #FFF;
            margin:0px 30px ;
            font-weight: 400;
        }
        
       .contacts{
        .contact{
          margin:  10px;
        }
       } 
    }
}